@use "./utilities/index" as *;

:root {
	--white: hsl(0, 0%, 100%);
	--slate-100: hsl(202, 86%, 94%);
	--slate-300: hsl(203, 41%, 72%);
	--slate-500: hsl(200, 26%, 54%);
	--slate-700: hsl(200, 24%, 40%);
	--slate-900: hsl(202, 55%, 16%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: "Plus Jakarta Sans", sans-serif;
	background-color: var(--slate-100);
}

.main {
	width: 100%;
	max-width: 26em;
	background-color: var(--white);
	&__one {
		padding: 1.5em;

		&-title {
			margin-bottom: 0.3em;
			font-size: 2.2rem;
			color: var(--slate-900);
		}

		&-btn {
			margin-bottom: 1.3em;
			text-decoration: underline;
			color: var(--slate-700);
			font-weight: 500;
		}
		&-label {
			margin-bottom: 0.6em;
			display: block;
			font-size: 1.3rem;
			color: var(--slate-700);
			font-weight: 500;
		}

		&-container {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1em;
			border: 1px solid var(--slate-500);
			border-radius: 0.3em;
			overflow: hidden;

			&-input,
			&-second {
				padding: 0.7em;
				border: none;
				width: 100%;
				order: 1;
				border: 1px solid transparent;
				font-weight: 700;
				color: var(--slate-900);
				font-size: 1.5rem;
				z-index: 10;

				&:first-child {
					&::placeholder {
						color: rgba(215, 52, 41, 255);
					}
				}

				&:focus {
					outline: none;
					border: 1px solid black;
				}
			}

			&-second {
				order: 0;
			}

			&-letter {
				@include input-text;
				padding: 1em 1.2em;
				order: 0;
			}

			&-text {
				@include input-text;
				order: 1;
			}
		}
		&-checkbox {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-bottom: 0.5em;
			padding: 0.7em;
			border: 1px solid var(--slate-500);
			border-radius: 0.3em;
			font-weight: 700;
			color: var(--slate-900);
			accent-color: hsl(61, 15%, 52%);

			&-input {
				margin-right: 1em;
			}

			&-span {
				font-size: 1.2rem;
			}
		}
		&-calculate {
			margin-top: 1.5em;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 0.5em;
			padding: 0.9em 0;
			width: 100%;
			background-color: #d9db30;
			border-radius: 1.5em;
			font-size: 1.7rem;
			font-weight: 700;
			color: var(--slate-900);
		}
	}
	&__two {
		padding: 2em;
		background-color: var(--slate-900);

		&-first {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			&-img {
				margin: 0 auto;
			}

			&-title {
				margin-bottom: 1em;
				color: var(--slate-100);
			}

			&-text {
				color: var(--slate-300);
				font-weight: 500;
			}
		}

		&-second {
			display: none;
			color: var(--slate-100);

			&-title {
				margin-bottom: 1em;
			}

			&-text {
				margin-bottom: 1em;
				font-size: 1.65rem;
				line-height: 1.5;
				color: var(--slate-300);
			}

			&-box {
				padding: 1em;
				border-radius: 0.3em;
				border-top: 3px solid #d9db30;
				background-color: hsl(201, 80%, 12%);

				&-text {
					margin-bottom: 0.5em;
					color: var(--slate-300);
				}

				&-repayments {
					margin-bottom: 0.5em;
					padding-bottom: 0.6em;
					color: #d2d3b2;
					font-weight: 700;
					font-size: 3.5rem;
					border-bottom: 1px solid var(--slate-700);
				}

				&-total {
					font-size: 2rem;
					font-weight: 700;
				}
			}
		}
	}
}

@media (min-width: 1440px) {
	.main {
		display: grid;
		place-items: center;
		grid-template-columns: 1fr 1fr;
		max-width: 54em;
		border-radius: 1.3em;
		overflow: hidden;

		&__one {
			display: grid;
			grid-template-columns: repeat(auto-fit);
			grid-template-areas:
				"title btn"
				"form form";
			row-gap: 2em;
			padding: 2em;
			width: 100%;

			&-title {
				grid-area: title;
			}

			&-btn {
				grid-area: btn;
				justify-self: flex-end;
				margin-bottom: 0;
			}

			&-container {
				transition: border 0.2s;

				&:hover {
					border: 1px solid #232b2d;
				}
			}

			&-checkbox {
				transition: border 0.2s;

				&:hover {
					border: 1px solid #cbcf8c;
				}
			}

			.form {
				display: grid;
				grid-template-columns: repeat(auto-fit);
				grid-template-areas:
					"lab1 lab1"
					"con1 con1"
					"lab2 lab3"
					"con2 con3"
					"lab4 lab4"
					"con4 con4"
					"con5 con5"
					"btn btn";
				column-gap: 1.3em;
				grid-area: form;
				width: 100%;

				&__label {
					&-one {
						grid-area: lab1;
					}
					&-two {
						grid-area: lab2;
					}
					&-three {
						grid-area: lab3;
					}
					&-four {
						grid-area: lab4;
					}
				}
				&__input {
					&-one {
						grid-area: con1;
					}
					&-two {
						grid-area: con2;
					}
					&-three {
						grid-area: con3;
					}
					&-four {
						grid-area: con4;
					}
					&-five {
						grid-area: con5;
					}
				}
				&__btn {
					grid-area: btn;
					transition: background-color 0.2s;

					&:hover {
						background-color: #ebee97;
					}
				}
			}

			&-calculate {
				padding: 0.8em 0;
				width: 70%;
				font-size: 1.4rem;
			}
		}

		&__two {
			height: 100%;
			border-bottom-left-radius: 5em;
			&-first {
				height: 100%;

				&-img {
					width: 35%;
				}

				&-title {
					margin-top: 0.7em;
					font-size: 2rem;
				}

				&-text {
					font-size: 1.35rem;
					line-height: 1.5;
				}
			}

			&-second {
				&-title {
					margin-bottom: 0.5em;
				}

				&-text {
					margin-bottom: 2.3em;
					font-size: 1.4rem;
				}

				&-box {
					padding: 1.5em;
					&-text {
						margin-bottom: 1em;
						font-size: 1.25rem;
					}
					&-repayments {
						margin-bottom: 0.7em;
						font-size: 4.2rem;
					}
					&-total {
						font-size: 1.8rem;
					}
				}
			}
		}
	}
}
